/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    color: #333;
}

/*INTRO SECTION*/
.sector-intro-block {
    max-width: 90%;
    margin: 0 auto;
    padding: 3.5rem 1.5rem 2rem 1.5rem;
    text-align: left;
}

.sector-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #4b0082;
    margin-bottom: 1.8rem;
}

/* Hero image inside intro section */
.sector-intro-block img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 3rem;
}

/* CONTENT SECTION */
.sector-content {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem 4rem 1.5rem;
}

.sector-content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #3a2f87;
    margin-bottom: 1.5rem;
}

.sector-content p {
    max-width: 80%;;
    font-size: 1.1rem;
    line-height: 1.85;
    margin-bottom: 1.4rem;
}

/* TESTIMONIALS */
.sector-testimonials {
    max-width: 90%;
    height: 400px;
    margin: 0 auto 5rem auto;
    padding: 3rem 2rem;
    background: #f8f8f8;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

/* Each testimonial block */
.testimonial {
    flex: 1;
    align-items: center;
    padding: 3rem;
}

.testimonial-logo img {
    width: 140px;
    margin-bottom: 1rem;
}

/* Quote text */
.testimonial-quote {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

/* Person info block */
.testimonial-person {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.testimonial-person img {
    width: 38px;
    height: 38px;
}

.person-role {
    font-weight: 600;
    font-size: 0.95rem;
}

.person-company {
    font-size: 0.85rem;
    color: #666;
}

/* Divider between testimonials */
.divider {
    width: 1px;
    background: #d2d2d2;
}

/* ================================
   RESPONSIVE
   ================================ */
@media (max-width: 768px) {

    .sector-intro-block img {
        height: 250px;
    }

    .sector-testimonials {
        flex-direction: column;
        padding: 2rem 1.5rem;
    }

    .divider {
        display: none;
    }
}
