html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
  color: #2c3e50;
  background: #ffffff;
}

/* MAIN CONTENT */
.main-content {
  max-width: 100%;
  margin: 3.75rem auto;
  padding: 2.5rem;
}

.hero {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  max-width: 100%;
  position: absolute;
  top: 30%; 
  right: 10%; 
  padding: 1rem 1.rem;
}

/* Keep typography consistent inside hero */
.hero-text p {
  text-align: right;
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  opacity: 100%;
}

/* ============ RESPONSIVE ============ */
@media (max-width: 68.75rem) {
  /* Main Content */
  .main-content {
  max-width: 100%;
  margin: 2.75rem auto;
  padding: 1.5rem;
  }

  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  .hero-text {
    top: 50%;
    right: 55%;
    transform: translate(65%, -50%);
    padding: 1rem;
    text-align: center;
    width: 80%;
    max-width: 90vw;
  }

  .hero-text p {
    font-size: 2rem;
  }
}

/* Mobile view */
@media (max-width: 40.625rem) {
  .hero-text {
      top: 50%;
      right: 65%;
      transform: translate(65%, -50%);
      padding: 1rem;
      text-align: center;
      width: 100%;
      max-width: 90vw;
    }

    .hero-text p {
      font-size: 1.5rem;
    }
}

/* Mobile view */
@media (max-width: 25.75rem) {
  .hero-text {
      top: 50%;
      right: 55%;
      transform: translate(65%, -50%);
      padding: 1rem;
      text-align: center;
      width: 100%;
      max-width: 90vw;
    }

    .hero-text p {
      font-size: 0.5rem;
    }
}
